@font-face {
  font-family: "Optima";
  src: url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.eot");
  src: url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.eot?#iefix") format("embedded-opentype"), url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.woff2") format("woff2");
  src: url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OptimaBold";
  src: url("/themes/lebratelier/fonts/OptimaLTStd-Bold.woff") format("woff"), url("/themes/lebratelier/fonts/OptimaLTStd-Bold.ttf") format("truetype");
  src: url("/themes/lebratelier/fonts/OptimaLTStdBold.eot");
  src: url("/themes/lebratelier/fonts/OptimaLTStdBold.ttf") format("truetype");
  src: url("/themes/lebratelier/fonts/OptimaLTStdBold.eot?#iefix") format("embedded-opentype"), url("/themes/lebratelier/fonts/OptimaLTStdBold.woff2") format("woff2"); }
#languages-block-top {
  float: right;
  position: relative; }
  @media (max-width: 479px) {
    #languages-block-top {
      width: 25%; } }
  #languages-block-top span.firstWord {
    display: none; }
  #languages-block-top div.current {
    font-family: "Optima";
    padding: 8px 10px 10px 10px;
    line-height: 18px;
    color: black;
    cursor: pointer;
    text-transform: uppercase; }
    @media (max-width: 479px) {
      #languages-block-top div.current {
        text-align: center;
        padding: 9px 5px 10px;
        font-size: 11px; } }
    #languages-block-top div.current strong {
      color: #777777; }
    #languages-block-top div.current:after {
      content: "\f0d7";
      font-family: "FontAwesome";
      font-size: 18px;
      line-height: 18px;
      color: #686666;
      vertical-align: -2px;
      padding-left: 12px; }
      @media (max-width: 479px) {
        #languages-block-top div.current:after {
          padding-left: 2px;
          font-size: 13px;
          line-height: 13px;
          vertical-align: 0; } }
    @media (max-width: 479px) {
      #languages-block-top div.current .cur-label {
        display: none; } }
  #languages-block-top ul {
    display: none;
    position: absolute;
    top: 37px;
    left: 0;
    width: 157px;
    background: #333;
    z-index: 2; }
    #languages-block-top ul li {
      color: #CACACA;
      line-height: 35px;
      font-size: 13px; }
      #languages-block-top ul li a,
      #languages-block-top ul li > span {
        padding: 0 10px 0 12px;
        display: block;
        color: #CACACA; }
      #languages-block-top ul li.selected, #languages-block-top ul li:hover a {
        background: #484848; }

/*# sourceMappingURL=blocklanguages.css.map */
