a.logo-medio {
position: absolute;
/*margin: 0 auto !important;	
padding: 0 !important;*/
margin-left: -100px !important;
}

input.search_query {
border: 0 !important;	
}

.shopping_cart {
text-shadow: none !important;	
}

#newsletter_block_left h4 span, .blockpeleproductsrelated h4 {
text-transform: uppercase !important;	
line-height: 40px !important;
}

h4 {
background-position-y: 17px !important;
}

h2 {
background-position-y: 50px !important;
}

a.homefeatured {
background-position-y: 30px !important;
}

#titulo-blog {
background-position-y: 150px !important;
}

.accesories-block {
text-align: center !important;	
}

.post-item a.pull-right {
border-radius: 18px 18px 18px 18px;
-moz-border-radius: 18px 18px 18px 18px;
-webkit-border-radius: 18px 18px 18px 18px;
border: 1px solid #000000;	
}

.post-item a.pull-right.blanca {
border: 1px solid #ffffff;	
}

.hidden-xs {
text-align: center !important;
}

#homepage-slider {
margin-top: 80px !important;	
}

#texto-conjuntos {
text-align: center !important;
margin-bottom: 50px;	
}

#index .tab-content {
margin-top: 0;	
}

.banner {
border-bottom: 1px solid #C6BAEE !important;	
}

.banner span {
text-decoration: underline;	
}

#enlaces-guias {
margin-top: 10px !important;
margin-bottom: 50px !important; 
text-transform: uppercase !important;	
}

.izquierda {
float: left !important;	
}

.derecha {
float: right !important;	
}

.subrayado {
text-decoration: underline !important;	
}

#navbar.menu {
  width: 20px;
  height: 16px;
  background: transparent url(../img/menu.png) no-repeat center 20px !important;
  background-size: 20px 16px;
  display: none !important;
  }
  
.menu-lateral-izquierdo {
margin-top: 5px !important;	
}
  
.bx-controls {
display: none !important; 
}

#texto-conjuntos {
text-align: center;
}

#texto-conjuntos p {
width: 45%;	
margin: 0 auto;
}

#center_column {
margin-top: 60px;
}

.heading-counter {
display: none !important;	
}

/*body#history #center_column p, body#history #center_column div, body#history #center_column ul {
padding: 20px 60px !important;
}*/

select#message {
margin-top: 10px !important;	
}

body#addresses #center_column p, body#addresses #center_column div, #my-account #center_column div.row, #center_column p.info-title, .block-center, ul.footer_links, #order-detail-content, .cart_navigation, .address_add, .order_carrier_content, .warning, .info-account, .addresses, #opc_payment_methods {
padding: 20px 60px !important;	
}

p.carrier_title {
padding-bottom: 10px !important;	
}

ul.myaccount-link-list li a i {
color: black !important;	
}

.table_block {
padding: 20px 0 !important;	
}

ul.socialsharing_product li i {
font-size: 22px !important;	
color: black !important;
}

ul.socialsharing_product {
padding-left: 17px !important;
}

ul.socialsharing_product li {
width: 32px !important;
}

ul.socialsharing_product li i:hover {
color: #DCD0FF !important;
}

p#descripcion {
margin-top: 0 !important;
margin-bottom: 65px;	
}

.simpleblog-post-item.last-in-line {
margin-top: 15px !important;	
}

.simpleblog-post-item h2 {
padding-bottom: 5px !important;	
padding-top: 35px !important;
}

.simpleblog-post-item .post-content {
padding-bottom: 40px !important;	
padding-right: 75px !important;
}

#newsletter_block_left {
text-align: center !important;	
}

.footer-container #footer #social_block {
background: transparent url(../img/lineasGris-claro.png) repeat-x center !important;
}

#social_block a {
font-size: 22px !important;
text-shadow: none !important;
}

div.nav {
height: 80px !important;	
}

div.pb-center-column {
padding-left: 60px !important;
padding-right: 0px !important;
margin-top: 40px !important;
}

iframe div.pb-center-column {
padding-left: 0px !important;
margin-left: -30px !important;
padding-right: 0px !important;
margin-top: 40px !important;
}

body.cms #columns #center_column, .ph_simpleblog h1 {
margin-top: 150px !important;	
}

body.cms #columns #center_column .rte {
padding: 0 40px !important;
}

ul.sf-menu {
margin-left: 0 !important;	
}

li.abajo {
text-decoration: none !important;
border: 0 !important;
text-transform: none !important;	
padding-left: 25px !important;
}

li.abajo.newsletter {
background: transparent url(../img/icono-newsletter.png) no-repeat left 10px !important; 
}

li.abajo.ayuda {
background: transparent url(../img/icono-ayuda.png) no-repeat left 10px !important; 
}

li.abajo.espana {
background: transparent url(../img/icono-espana.png) no-repeat left 10px !important; 
}

li.abajo.pedidos {
background: transparent url(../img/icono-pedidos.png) no-repeat left 10px !important; 
}

li.abajo.pedidos {
background: transparent url(../img/icono-pedidos.png) no-repeat left 10px !important; 
}

li.abajo.telefono {
background: transparent url(../img/icono-telefono.png) no-repeat left 10px !important; 
}

li.ultimo-tienda {
margin-bottom: 25px !important;	
}

#fitting-room .menu {
text-align: left !important;	
}

#fitting-room h3 {
font-size: 18px !important;	
}

#fitting-room ul li a {
font-size: 15px !important;	
}

#fittin-room h2 {
font-size: 38px !important;	
background-position-y: 22px !important;
}

.top-pagination-content {
display: none !important;	
}

form.contact-form-box {
background: none !important;
border: 0 !important;
box-shadow: none !important;
padding: 20px 50px !important;	
}

form.contact-form-box fieldset {
background: none !important;
}

.direcciones {
margin-top: 130px !important;	
}

p.submit2 {
margin-top: 20px !important;	
}

section.ph_simpleblog.row {
padding-top: 0 !important;	
}

.simpleblog-posts {
/*margin-left: 10px !important;*/
padding: 0 40px !important;
margin-top: 50px !important;	
}

.simpleblog-post-item {
padding: 0 40px !important;	
}

div.simpleblog-single .row {
padding: 50px !important;	
}

#resultado-talla, #resultado-copa {
border: 0px !important;
width: 35px !important;	
}

.filterList {
width: 30% !important;	
}

@media (max-width: 768px) {
#homefeatured li.ajax_block_product, ul.product_list li.ajax_block_product {
width: 100% !important;
float: left !important;
}

.simpleblog-post-item {
width: 100% !important;
padding: 0 20px !important;	
}

div.pb-center-column {
width: 90% !important;
padding-left: 10% !important;
padding-top: 5px !important;
padding-right: 0px !important;
}

span#foto-grande {
visibility: hidden !important;	
}

.banner {
height: auto !important;	
padding-top: 8px !important;
padding-bottom: 0px !important;
line-height: 16px !important;
}

#navbar.menu {
background: transparent url(../img/menu.png) no-repeat center 10px !important;
}

#newsletter_block_left {
display: none !important;	
}

div.nav {
height: 54px !important;	
padding-top: 8px !important;
}

body.cms #columns #center_column .rte {
padding: 0 20px !important;
}

.breadcrumb {
display: none !important;	
}
}