@font-face {
  font-family: "Optima";
  src: url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.eot");
  src: url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.eot?#iefix") format("embedded-opentype"), url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.woff2") format("woff2");
  src: url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OptimaBold";
  src: url("/themes/lebratelier/fonts/OptimaLTStd-Bold.woff") format("woff"), url("/themes/lebratelier/fonts/OptimaLTStd-Bold.ttf") format("truetype");
  src: url("/themes/lebratelier/fonts/OptimaLTStdBold.eot");
  src: url("/themes/lebratelier/fonts/OptimaLTStdBold.ttf") format("truetype");
  src: url("/themes/lebratelier/fonts/OptimaLTStdBold.eot?#iefix") format("embedded-opentype"), url("/themes/lebratelier/fonts/OptimaLTStdBold.woff2") format("woff2"); }
/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
#pagina-categoria {
  margin-top: -16px; }
  #pagina-categoria .franja-negra {
    position: relative; }
    #pagina-categoria .franja-negra.hovered {
      height: auto;
      margin-bottom: 0px; }
    #pagina-categoria .franja-negra #franja {
      position: absolute;
      display: block;
      height: 43%;
      width: 140%;
      background-color: black;
      margin: 25% 0 0 0px;
      left: -100px; }
  #pagina-categoria .top-pagination-content, #pagina-categoria .bottom-pagination-content {
    padding: 0;
    margin-top: 40px; }
  #pagina-categoria .page-heading.product-listing {
    margin: 0;
    padding: 0; }
  #pagina-categoria #pagination_previous, #pagina-categoria #pagination_next {
    background-color: black;
    float: left;
    width: 35%;
    height: 38px; }
    #pagina-categoria #pagination_previous a, #pagina-categoria #pagination_next a {
      display: block;
      width: 100%;
      height: 100%; }
  #pagina-categoria #pagination_previous a {
    background: url(../img/lineaFlecha.png) no-repeat center left, url(../img/lin.png) repeat-x center left; }
  #pagina-categoria #pagination_next a {
    background: url(../img/lineaFlechaD.png) no-repeat center right, url(../img/lin.png) repeat-x center right; }
  #pagina-categoria #pagination-numeros {
    width: 30%;
    float: left;
    text-align: center;
    background-color: black; }
    #pagina-categoria #pagination-numeros ul.pagination {
      margin: 0px 0px 0px 0px;
      height: 38px;
      display: block; }
      #pagina-categoria #pagination-numeros ul.pagination li {
        float: none;
        height: 38px;
        font-size: 1.2em; }
        #pagina-categoria #pagination-numeros ul.pagination li a {
          color: white;
          border: none;
          background: none;
          background-color: black; }
          #pagina-categoria #pagination-numeros ul.pagination li a:hover {
            background: none;
            font-weight: bold; }
          #pagina-categoria #pagination-numeros ul.pagination li a span {
            background: none;
            background-color: black;
            border: none;
            display: block;
            height: 38px;
            line-height: 38px; }
        #pagina-categoria #pagination-numeros ul.pagination li span {
          background: none;
          background-color: black;
          border: none;
          display: block;
          height: 38px;
          line-height: 38px; }
        #pagina-categoria #pagination-numeros ul.pagination li.active {
          background: none;
          background-color: black; }
          #pagina-categoria #pagination-numeros ul.pagination li.active span {
            border: none;
            background: none;
            background-color: black; }
            #pagina-categoria #pagination-numeros ul.pagination li.active span span {
              background: none;
              background-color: black;
              color: white;
              font-weight: bold;
              border: none; }

.content_scene_cat {
  color: #d7d7d7;
  line-height: 19px;
  margin: 0 0 0 0;
  width: 100%; }
  .content_scene_cat .content_scene_cat_bg {
    padding: 18px 10px 10px 42px;
    background-color: #464646 !important;
    position: relative; }
    @media (max-width: 1199px) {
      .content_scene_cat .content_scene_cat_bg {
        padding: 10px 10px 10px 15px; } }
    .content_scene_cat .content_scene_cat_bg .cat_desc {
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%; }
      .content_scene_cat .content_scene_cat_bg .cat_desc span.category-name {
        color: white;
        font-family: "Optima";
        text-transform: uppercase;
        content: "bu"; }
      .content_scene_cat .content_scene_cat_bg .cat_desc .rte {
        display: none; }
  .content_scene_cat span.category-name {
    font: 600 42px/51px "Optima", "Open Sans", sans-serif;
    color: #CACACA;
    margin-bottom: 12px; }
    @media (max-width: 1199px) {
      .content_scene_cat span.category-name {
        font-size: 25px;
        line-height: 30px; } }
  .content_scene_cat p {
    margin-bottom: 0; }
  .content_scene_cat a {
    color: #CACACA; }
    .content_scene_cat a:hover {
      text-decoration: underline; }
  .content_scene_cat .content_scene {
    color: #777; }
    .content_scene_cat .content_scene .cat_desc {
      padding-top: 20px; }
      .content_scene_cat .content_scene .cat_desc a {
        color: #777; }
        .content_scene_cat .content_scene .cat_desc a:hover {
          color: #515151; }

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */
#subcategories {
  border-top: 1px solid #d6d4d4;
  padding: 15px 0 0px 0; }
  #subcategories p.subcategory-heading {
    font-weight: bold;
    color: #333;
    margin: 0 0 15px 0; }
  #subcategories ul {
    margin: 0 0 0 -20px; }
    #subcategories ul li {
      float: left;
      width: 145px;
      margin: 0 0 13px 33px;
      text-align: center;
      height: 202px; }
      #subcategories ul li .subcategory-image {
        padding: 0 0 8px 0; }
        #subcategories ul li .subcategory-image a {
          display: block;
          padding: 9px;
          border: 1px solid #d6d4d4; }
          #subcategories ul li .subcategory-image a img {
            max-width: 100%;
            vertical-align: top; }
      #subcategories ul li .subcategory-name {
        font: 600 18px/22px "Optima", "Open Sans", sans-serif;
        color: #555454;
        text-transform: uppercase; }
        #subcategories ul li .subcategory-name:hover {
          color: #515151; }
      #subcategories ul li .cat_desc {
        display: none; }
      #subcategories ul li:hover .subcategory-image a {
        border: 5px solid #333;
        padding: 5px; }

/*# sourceMappingURL=category.css.map */
