@import 'bootstrap_lib/_variables';

// FUENTE OPTIMA
@font-face {
  font-family: "Optima";
  // src: url('#{$icon-font-path}#{$icon-font-name}.eot');
  src: url('/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.eot');
  src: url('/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.eot?#iefix') format('embedded-opentype'),
       url('/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.woff2') format('woff2');
  src: url('/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
      //  url('/themes/lebratelier/fonts/#{$icon-font-name}.svg#glyphicons-halflingsregular') format('svg');
}
@font-face {
  font-family: "OptimaBold";
  src: url('/themes/lebratelier/fonts/OptimaLTStd-Bold.woff') format('woff'),
       url('/themes/lebratelier/fonts/OptimaLTStd-Bold.ttf') format('truetype');
  src: url('/themes/lebratelier/fonts/OptimaLTStdBold.eot');
  src: url('/themes/lebratelier/fonts/OptimaLTStdBold.ttf') format('truetype');
  src: url('/themes/lebratelier/fonts/OptimaLTStdBold.eot?#iefix') format('embedded-opentype'),
      url('/themes/lebratelier/fonts/OptimaLTStdBold.woff2') format('woff2');
}
//------- FONTS
$font-family:				  		'Optima', Helvetica, sans-serif;
$optima:								'Optima';
$optimaBold:								'OptimaBold';
$font:						  		normal 13px/18px $font-family;
$font-custom:                 		'Optima','Open Sans', sans-serif;
$font-icon:                   		"FontAwesome";
$fa-css-prefix:       				icon !default;


$altura-pagi: 38px;

//-------- BORDERS
$base-border-color:					#d6d4d4;
$main_border:						1px solid $base-border-color;
$dark-border-color:					#333;
$light-border-color:				#fff;
$homepage-footer-border:            #d9d9d9;

//--------- BACKGROUNDS
$base-box-bg:                       #fbfbfb;
$table-background:                  $base-box-bg;
$dark-background:                   #333;
$light-background:                  #fff;
$homepage-footer-bg:                #f2f2f2;
$rosa:															#FCE6EA;

//--------- COLORS
$base-body-color:                   #777;
$base-text-color:                   #333;
$base-heading-color:				#555454;
$base-title-color:					$base-text-color;
$light-text-color:                  #CACACA;
$link-color:						$link-color;
$link-hover-color:                  $link-hover-color;
$gris-oscuro:								#333333;
$description-color:					#666;
$rosa: #dcd0ff;
// $rojo: red;


//--------- Indents
$base-page-indent:                 	$grid-gutter-width;
$base-box-padding:                  14px 18px 13px;
$base-box-indent:                  	0 0 30px 0;
$altura-nav:  100px;

//---------- Product Elements
$product-name-color:                #3a3939;
$product-name-hover-color:          #515151;
$price-color:						$base-body-color;
$product-price-color:				$base-text-color;
$product-reduced-price:				#f00;
$product-special-price-color:		#f13340;
$product-old-price-color:			#6f6f6f;

//---------- Buttons
$button-text-color:					$light-text-color;

		//------ Buttons +/- ---
		$button-pm-color:			#c0c0c0;
		$button-pm-hover-color:		$base-text-color;

		//------ Button Small --
		$button-small-bg:			#6f6f6f;
		$button-small-hover-bg:		#575757;

		//-------Button exclusive-medium
		$button-em-color:			$base-text-color;

//---------- Product Listing
$base-listing-border-color:					$base-border-color;
$base-listing-grid-padding:					$base-box-padding;

		//-------------- Grid/List vars
		$GL-text-color:								#808080;
		$GL-title-color:							$base-text-color;
		$GL-icon-color:								#e1e0e0;
		$GL-icon-color-hover:						$base-text-color;

		//-------------- Pagination vars
		$pagination-prevnext-color:					#777676;
		$pagination-bgcolor:	               		$base-box-bg;
		$pagination-hover-bg:						#f6f6f6;

//---------- Product Info
$top-line-color:									#C4C4C4;
$product-image-border:								#dbdbdb;
$scroll-button-color:								#c0c0c0;
$list-info-bg:										#f6f6f6;
$scroll-button-hover-color:							$base-text-color;
$tr-even-bg:										#fdfdfd;

//sub heading (h2,h3) define
@mixin sub-heading {
	color: $base-heading-color;
	text-transform: uppercase;
	font-family: $font-custom;
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	padding: 14px 20px 17px;
	margin: 0 0 20px;
	position: relative;
	border: 1px solid $base-border-color;
	border-bottom: none;
	background: $base-box-bg;
}
@mixin translate3d($x, $y, $z) {
  -moz-transform: translate3d($x, $y, $z);
  -ms-transform: translate3d($x, $y, $z);
  -o-transform: translate3d($x, $y, $z);
  -webkit-transform: translate3d($x, $y, $z);
  transform: translate3d($x, $y, $z);
}
@mixin sf-search{
  .sf-search{
		float:none;
		.btn.button-search {
			background: transparent;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			border: none;
			color: black;
			width: 30px;
			text-align: center;
			padding: 10px 0 4px 0;
			border:none;
			-webkit-box-shadow: none;
			box-shadow: none;
			span {
				display: none;
			}
			&:before {
				content: "\f002";
				display: block;
				font-family: $font-icon;
				font-size: 17px;
				width: 100%;
				text-align: center;
				color:#9c9c9c;
			}
			&:hover {
				color: white;
			}
		}
		input[type='text'] {
			width:100%;
			background-color: #1D1D1F;
			border:none;
			border-bottom: 1px solid #9c9c9c;
			color:white;
			font-size: 17px;
			padding-left:40px;
			// background: transparent url(../img/closewhite.svg) no-repeat top left;
			&:focus{
				border:none;
			}

		}
	}
}
