@import "compass";
@import "theme_variables";

/* ************************************************************************************************
								Categories Page Styles
************************************************************************************************ */
#pagina-categoria{
	.franja-negra {
		&.hovered{
			height: auto;
			margin-bottom:0px;
		}
		position: relative;
		#franja{
			position: absolute;
			display:block;
			height:43%;
			// width:$screen-lg;
			width:140%;
			background-color: black;
			margin:25% 0 0 0px;
			left:-100px;
		}
	}
	margin-top:-16px;
	.top-pagination-content, .bottom-pagination-content{
		padding:0;
		margin-top: 40px;
	}
	.page-heading.product-listing{
		// margin-top:320px;
		margin:0;
		padding:0;
	}
	#pagination_previous,#pagination_next{
		// border-top:1px solid #7f7f7f;
		// &.disabled{
		// 	width:100%;
		// }
		background-color: black;
		float: left;
		width:35%;
		height: $altura-pagi;
		a{
			display:block;
			width:100%;
			height: 100%;
		}
	}
	#pagination_previous{
		a{
			background: url(../img/lineaFlecha.png) no-repeat center left,url(../img/lin.png) repeat-x center left;
		}
	}
	#pagination_next{
		a{
			background: url(../img/lineaFlechaD.png) no-repeat center right,url(../img/lin.png) repeat-x center right;
		}
	}
	.content_sortPagiBar{
		// margin-top:252px;
	}
	#pagination-numeros{
		width:30%;
		float: left;
		text-align:center;
		background-color: black;

	ul.pagination{
		// border-top:1px solid #7f7f7f;

		margin:0px 0px 0px 0px;
		height: $altura-pagi;

		display:block;
		li{
			float:none;
			height: $altura-pagi;
			font-size:1.2em;

			a{
				color:white;
				border:none;
				background: none;
				background-color: black;
				&:hover{
					background: none;
					font-weight: bold;
				}
				span{
					background: none;
					background-color: black;
					border:none;
					display:block;
					height: $altura-pagi;
					line-height: $altura-pagi;

				}
			}
			span{
				background: none;
				background-color: black;
				border:none;
				display:block;
				height: $altura-pagi;
				line-height: $altura-pagi;
			}
			&.active{
				background: none;
				background-color: black;
				span{
					span{
						background: none;
						background-color: black;
						color:white;
						font-weight: bold;
						border:none;
					}
					border:none;
					background: none;
					background-color: black;
				}
			}
			&:first-child{

			}
			&:last-child{

			}
		}
	}
	}
}
.content_scene_cat {
	// border-top: 5px solid $dark-border-color;
	color: #d7d7d7;
	line-height: 19px;
	margin: 0 0 0 0;
	// position:absolute;
	width:100%;
	// top:-82px;
	.content_scene_cat_bg {
		padding: 18px 10px 10px 42px;
		background-color: #464646 !important;
		@media  (max-width: $screen-md-max) { // max 1199px
			padding: 10px 10px 10px 15px;
		}
		position: relative;
		.cat_desc{
			position: absolute;
			bottom:0;
			text-align: center;
			width:100%;
			span.category-name{
				color:white;
				font-family: $optima;
				text-transform: uppercase;
				content: "bu";
			}

			.rte{
				display:none;

			}
		}
	}
	span.category-name {
		font: 600 42px/51px $font-custom;
		color: $light-text-color;
		margin-bottom: 12px;
		@media  (max-width: $screen-md-max) { // max 1199px
			font-size: 25px;
			line-height: 30px;
		}
	}
	p {
		margin-bottom: 0;
	}
	a {
		color: $light-text-color;
		&:hover {
			text-decoration: underline;
		}
	}
	.content_scene {
		color: $base-body-color;
		.cat_desc {
			padding-top: 20px;
			a {
				color: $link-color;
				&:hover {
					color: $link-hover-color;
				}
			}
		}
	}
}

/* ************************************************************************************************
									Sub Categories Styles
************************************************************************************************ */

#subcategories {
	border-top: 1px solid $base-border-color;
	padding: 15px 0 0px 0;
	p.subcategory-heading {
		font-weight: bold;
		color: $base-text-color;
		margin: 0 0 15px 0;
	}
	ul {
		margin: 0 0 0 -20px;
		li {
			float: left;
			width: 145px;
			margin: 0 0 13px 33px;
			text-align: center;
			height: 202px;
			.subcategory-image {
				padding: 0 0 8px 0;
				a {
					display: block;
					padding: 9px;
					border: 1px solid $base-border-color;
					img {
						max-width: 100%;
						vertical-align: top;
					}
				}
			}
			.subcategory-name {
				font: 600 18px/22px $font-custom;
				color: $base-heading-color;
				text-transform: uppercase;
				&:hover {
					color: $link-hover-color;
				}
			}
			.cat_desc {
				display: none;
			}
			&:hover {
				.subcategory-image {
					a {
						border: 5px solid $dark-border-color;
						padding: 5px;
					}
				}
			}
		}
	}
}
