@import "compass";
@import "theme_variables";
#search_block_top {
	// padding-top: 50px;
	float:right;
	#searchbox {
		float: left;
		// width: 100%;
		border:none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.btn.button-search {
		background: transparent;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		color: black;
		width: 50px;
		text-align: center;
		padding: 5px 0 11px 0;
		border:none;
		-webkit-box-shadow: none;
		box-shadow: none;
		span {
			display: none;
		}
		&:before {
			content: "\f002";
			display: block;
			font-family: $font-icon;
			font-size: 17px;
			width: 100%;
			text-align: center;
		}
		&:hover {
			color: #6f6f6f
		}
	}
	#search_query_top {
		display: inline;
		padding: 3px 60px 13px 13px;
		height: 45px;
		background: transparent;
		margin-right: 1px;
		-webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    transition: all ease .4s;
		width:120px;
		&:focus{
			width:230px;
			border:none;
			-webkit-box-shadow: none;
    	box-shadow: none;
		}
	}
}

.ac_results {
	background: $light-background;
	border: 1px solid $base-border-color;
	width: 271px;
	margin-top: -1px;
	li {
		padding: 0 10px;
		font-weight: normal;
		color: #686666;
		font-size: 13px;
		line-height: 22px;
		&.ac_odd {
			background: $light-background;
		}
		&:hover, &.ac_over {
			background: $base-box-bg;
		}
	}
}

form#searchbox {
	position: relative;
	label {
		color: $base-text-color;
	}
	input#search_query_block {
		margin-right:10px;
		max-width:222px;
		margin-bottom:10px;
		display:inline-block;
		float:left;
	}
	.button.button-small {
		float:left;
		i {
			margin-right:0;
		}
	}
}
