@font-face {
  font-family: "Optima";
  src: url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.eot");
  src: url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.eot?#iefix") format("embedded-opentype"), url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.woff2") format("woff2");
  src: url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OptimaBold";
  src: url("/themes/lebratelier/fonts/OptimaLTStd-Bold.woff") format("woff"), url("/themes/lebratelier/fonts/OptimaLTStd-Bold.ttf") format("truetype");
  src: url("/themes/lebratelier/fonts/OptimaLTStdBold.eot");
  src: url("/themes/lebratelier/fonts/OptimaLTStdBold.ttf") format("truetype");
  src: url("/themes/lebratelier/fonts/OptimaLTStdBold.eot?#iefix") format("embedded-opentype"), url("/themes/lebratelier/fonts/OptimaLTStdBold.woff2") format("woff2"); }
#crossselling_list .product-name {
  margin-bottom: 5px; }
  #crossselling_list .product-name a {
    font-size: 15px;
    line-height: 18px;
    color: #3a3939; }
    #crossselling_list .product-name a:hover {
      color: #515151; }
#crossselling_list .exclusive span {
  font-size: 13px;
  line-height: 18px;
  padding: 2px 8px 3px;
  text-decoration: none; }
  #crossselling_list .exclusive span:focus, #crossselling_list .exclusive span:active {
    text-decoration: none; }

/*# sourceMappingURL=crossselling.css.map */
