@import "compass";
@import "theme_variables";

/* Block newsletter */
#columns #newsletter_block_left {
	.form-group {
		margin-bottom: 0;
		.form-control {
			max-width: 222px;
			display: inline-block;
			margin-right: 6px;
			@media (min-width: $screen-sm) and (max-width: $screen-md-max) { // min 768px max 1199px
				margin-bottom: 10px;
				margin-right: 0;
			}
		}
	}
	.success_inline, .warning_inline {
		text-align: left;
		padding: 1px 0 0 0;
		margin-bottom: -19px;
	}
	.success_inline	{
		color: #418B19;
	}
	.warning_inline {
		color: #f13340;
	}
}
/* Block newsletter footer */
#footer {
	#newsletter_block_left {
		overflow: hidden;
		width: 100%;
		float: left;
		padding: 13px 15px 7px 15px;
		margin-bottom: 50px;
		@media (max-width: $screen-xs-max) { // max 767px
			width: 100%;
		}
		h4 {
			background: none;
			background: transparent url(../../../img/lineas.png) repeat-x center;
			text-align: center;
			// float: left;
			font-family:$font-family;
			font-weight: normal;
			padding: 7px 16px 5px 0;
			text-transform: none;
			font-size: 21px;
			line-height: 25px;
			border: none;
			margin-bottom: 50px;
			span{
				color: black;
				// font-size: 1.4em;
				font-size: 40px;;
				// background-color: white;
			}
			&:after {
				display: none;
			}
		}
		.block_content {
			overflow: hidden;
		}
		.form-group {
			width:450px;
			margin: 0 auto;
			.form-control {
				height: 45px;
				max-width: 267px;
				background: white;
				border-color: $light-text-color;
				color: $light-text-color;
				padding: 10px 43px 10px 12px;
				display: inline-block;
				float: left;
				@media (max-width: $screen-sm) { // min <768px max 1199px
					padding:5px;
				}
				&:focus {
					@include box-shadow(black 0px 0px 0px);
				}
			}
			.button-small {
				margin-left: -43px;
				border: none;
				background: none;
				text-align: center;
				color: #908f8f;
				padding: 8px;
				&:before {
					content: "\f138";
					font-family: $font-icon;
					font-size: 28px;
					line-height: 28px;
				}
				&:hover {
					color: $light-text-color !important;
				}
				span{
					display: none;
				}
			}
			.button-normal{
				height: 45px;
		    background-color: black;
		    border-color: black;
		    color: white;
				text-transform: uppercase;
				width:100%;
			}
		}
		.warning_inline {
			display: block;
			color: #f13340;
			font-size: 13px;
			line-height :26px;
			clear: both;
			@media (min-width: $screen-lg) { // min 1200px
				display: inline-block;
				position: relative;
				top: -35px;
				margin-bottom: -35px;
				left: 15px;
				clear: none;
			}
		}
		.newsletter-input {
  			max-width: 300px !important;
				@media (max-width: $screen-sm){
					max-width: 40% !important;

				}
  		}
	}
}
