@font-face {
  font-family: "Optima";
  src: url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.eot");
  src: url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.eot?#iefix") format("embedded-opentype"), url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.woff2") format("woff2");
  src: url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OptimaBold";
  src: url("/themes/lebratelier/fonts/OptimaLTStd-Bold.woff") format("woff"), url("/themes/lebratelier/fonts/OptimaLTStd-Bold.ttf") format("truetype");
  src: url("/themes/lebratelier/fonts/OptimaLTStdBold.eot");
  src: url("/themes/lebratelier/fonts/OptimaLTStdBold.ttf") format("truetype");
  src: url("/themes/lebratelier/fonts/OptimaLTStdBold.eot?#iefix") format("embedded-opentype"), url("/themes/lebratelier/fonts/OptimaLTStdBold.woff2") format("woff2"); }
#search_block_top {
  float: right; }
  #search_block_top #searchbox {
    float: left;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  #search_block_top .btn.button-search {
    background: transparent;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: black;
    width: 50px;
    text-align: center;
    padding: 5px 0 11px 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
    #search_block_top .btn.button-search span {
      display: none; }
    #search_block_top .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 17px;
      width: 100%;
      text-align: center; }
    #search_block_top .btn.button-search:hover {
      color: #6f6f6f; }
  #search_block_top #search_query_top {
    display: inline;
    padding: 3px 60px 13px 13px;
    height: 45px;
    background: transparent;
    margin-right: 1px;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    transition: all ease .4s;
    width: 120px; }
    #search_block_top #search_query_top:focus {
      width: 230px;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none; }

.ac_results {
  background: #fff;
  border: 1px solid #d6d4d4;
  width: 271px;
  margin-top: -1px; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: #fff; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }

/*# sourceMappingURL=blocksearch.css.map */
