@font-face {
  font-family: "Optima";
  src: url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.eot");
  src: url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.eot?#iefix") format("embedded-opentype"), url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.woff2") format("woff2");
  src: url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OptimaBold";
  src: url("/themes/lebratelier/fonts/OptimaLTStd-Bold.woff") format("woff"), url("/themes/lebratelier/fonts/OptimaLTStd-Bold.ttf") format("truetype");
  src: url("/themes/lebratelier/fonts/OptimaLTStdBold.eot");
  src: url("/themes/lebratelier/fonts/OptimaLTStdBold.ttf") format("truetype");
  src: url("/themes/lebratelier/fonts/OptimaLTStdBold.eot?#iefix") format("embedded-opentype"), url("/themes/lebratelier/fonts/OptimaLTStdBold.woff2") format("woff2"); }
/* Block newsletter */
#columns #newsletter_block_left .form-group {
  margin-bottom: 0; }
  #columns #newsletter_block_left .form-group .form-control {
    max-width: 222px;
    display: inline-block;
    margin-right: 6px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      #columns #newsletter_block_left .form-group .form-control {
        margin-bottom: 10px;
        margin-right: 0; } }
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px; }
#columns #newsletter_block_left .success_inline {
  color: #418B19; }
#columns #newsletter_block_left .warning_inline {
  color: #f13340; }

/* Block newsletter footer */
#footer #newsletter_block_left {
  overflow: hidden;
  width: 100%;
  float: left;
  padding: 13px 15px 7px 15px;
  margin-bottom: 50px; }
  @media (max-width: 767px) {
    #footer #newsletter_block_left {
      width: 100%; } }
  #footer #newsletter_block_left h4 {
    background: none;
    background: transparent url(../../../img/lineas.png) repeat-x center;
    text-align: center;
    font-family: "Optima", Helvetica, sans-serif;
    font-weight: normal;
    padding: 7px 16px 5px 0;
    text-transform: none;
    font-size: 21px;
    line-height: 25px;
    border: none;
    margin-bottom: 50px; }
    #footer #newsletter_block_left h4 span {
      color: black;
      font-size: 40px; }
    #footer #newsletter_block_left h4:after {
      display: none; }
  #footer #newsletter_block_left .block_content {
    overflow: hidden; }
  #footer #newsletter_block_left .form-group {
    width: 450px;
    margin: 0 auto; }
    #footer #newsletter_block_left .form-group .form-control {
      height: 45px;
      max-width: 267px;
      background: white;
      border-color: #CACACA;
      color: #CACACA;
      padding: 10px 43px 10px 12px;
      display: inline-block;
      float: left; }
      @media (max-width: 768px) {
        #footer #newsletter_block_left .form-group .form-control {
          padding: 5px; } }
      #footer #newsletter_block_left .form-group .form-control:focus {
        -moz-box-shadow: black 0px 0px 0px;
        -webkit-box-shadow: black 0px 0px 0px;
        box-shadow: black 0px 0px 0px; }
    #footer #newsletter_block_left .form-group .button-small {
      margin-left: -43px;
      border: none;
      background: none;
      text-align: center;
      color: #908f8f;
      padding: 8px; }
      #footer #newsletter_block_left .form-group .button-small:before {
        content: "\f138";
        font-family: "FontAwesome";
        font-size: 28px;
        line-height: 28px; }
      #footer #newsletter_block_left .form-group .button-small:hover {
        color: #CACACA !important; }
      #footer #newsletter_block_left .form-group .button-small span {
        display: none; }
    #footer #newsletter_block_left .form-group .button-normal {
      height: 45px;
      background-color: black;
      border-color: black;
      color: white;
      text-transform: uppercase;
      width: 100%; }
  #footer #newsletter_block_left .warning_inline {
    display: block;
    color: #f13340;
    font-size: 13px;
    line-height: 26px;
    clear: both; }
    @media (min-width: 1200px) {
      #footer #newsletter_block_left .warning_inline {
        display: inline-block;
        position: relative;
        top: -35px;
        margin-bottom: -35px;
        left: 15px;
        clear: none; } }
  #footer #newsletter_block_left .newsletter-input {
    max-width: 300px !important; }
    @media (max-width: 768px) {
      #footer #newsletter_block_left .newsletter-input {
        max-width: 40% !important; } }

/*# sourceMappingURL=blocknewsletter.css.map */
