#header .banner {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #dddddd;
  font-size: 12px;
  height: 30px;
  line-height: 30px; }
  #header .banner p {
    color: black;
    text-align: center; }

#header .banner a {
  display: block;
  max-width: 1170px;
  max-height: 65px; }

#header .banner a img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 65px;
  max-width: 1170px; }

/*# sourceMappingURL=blockbanner.css.map */
