@font-face {
  font-family: "Optima";
  src: url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.eot");
  src: url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.eot?#iefix") format("embedded-opentype"), url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.woff2") format("woff2");
  src: url("/themes/lebratelier/fonts/Optima-LT-Std-Roman_34091.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "OptimaBold";
  src: url("/themes/lebratelier/fonts/OptimaLTStd-Bold.woff") format("woff"), url("/themes/lebratelier/fonts/OptimaLTStd-Bold.ttf") format("truetype");
  src: url("/themes/lebratelier/fonts/OptimaLTStdBold.eot");
  src: url("/themes/lebratelier/fonts/OptimaLTStdBold.ttf") format("truetype");
  src: url("/themes/lebratelier/fonts/OptimaLTStdBold.eot?#iefix") format("embedded-opentype"), url("/themes/lebratelier/fonts/OptimaLTStdBold.woff2") format("woff2"); }
#compare_shipping .form-group {
  line-height: normal;
  margin-bottom: 10px; }
  #compare_shipping .form-group label {
    margin-bottom: 6px; }
  #compare_shipping .form-group .form-control {
    width: 263px; }
  #compare_shipping .form-group.last {
    margin-bottom: 20px; }
    #compare_shipping .form-group.last input {
      margin-bottom: 3px; }
#compare_shipping .table {
  background: #fff; }
  #compare_shipping .table thead tr th {
    background: #fff;
    padding: 4px 10px 3px 10px; }
  #compare_shipping .table tbody td {
    margin: 0; }
    #compare_shipping .table tbody td.carrier_action {
      width: 54px;
      padding-left: 0;
      padding-right: 0;
      text-align: center; }
      #compare_shipping .table tbody td.carrier_action input {
        margin: 0; }

#availableCarriers .table {
  margin-bottom: 20px; }

#compare_shipping ul#carriercompare_errors_list {
  color: red; }

#compare_shipping_form {
  padding-bottom: 20px; }

#compare_shipping ul#carriercompare_errors_list li {
  margin-left: 30px;
  text-decoration: none;
  list-style: none; }

#SE_AjaxDisplay {
  text-align: center;
  display: none; }

#SE_AjaxDisplay img {
  width: 15px; }

.SE_SubmitRefreshCard button {
  float: left; }
  .SE_SubmitRefreshCard button#carriercompare_submit {
    margin-right: 10px; }

#carriercompare_errors {
  display: none; }

/*# sourceMappingURL=style.css.map */
